.noticia{
    border: 0.125rem solid #d4d4d4;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
    justify-items: center;
}

@media screen and (min-width: 1200px) {
    .noticia{
        overflow: hidden;
    }
}