.departamento__imagens{
    display: grid;
    grid-column: span 2;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: auto auto;
    justify-content: space-around;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    .departamento__imagens{
        row-gap: 2rem;
        column-gap: 2rem;
    }
}