.header__hamburguer{
    grid-area: hamburguer;
}
.fa-bars::before{
    color: #FFF;
    font-size: 2rem;
}

@media screen and (min-width: 1200px) {
    .header__hamburguer, .fa-bars::before{
        display: none;
    }
}