.header__link{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.813rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #FFF;
}
.header__link--selected{
    border: 0.125rem solid #FFF;
    border-radius: 0.5rem;
}

@media screen and (min-width: 1200px) {
    .header__link:hover{
        border-bottom: 2px solid #FFF;
    }
}