.banner-principal__subtitulo{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    grid-column: 1;
    grid-row: 2;
    margin: 0rem;
    padding: 0rem;
    text-shadow: var(--sombra);
}

@media screen and (min-width: 1200px)  {
    .banner-principal__subtitulo{
        font-size: 2rem;
        line-height: 2.4375rem;
    }
}