.banner-principal{
    background: url(../../img/img2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: auto auto;
    height: 25rem;
    padding: 1rem;
    row-gap: 1rem;
}

@media screen and (min-width: 1200px)  {
    .banner-principal{
        height: 36.6875rem;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}