.card{
    padding: 1rem;
    border-radius: 1rem;
    color: #FFF;
    display: grid;
    row-gap: 1rem;
}

.card--azul-claro{
    background-color: var(--azulClaro);
}
.card--azul{
    background-color: var(--azul);
}
.card--azul-escuro{
    background-color: var(--azulEscuro);
}

.card--footer{
    margin-bottom: 1rem;
}

.card--footer:last-child{
    margin-bottom: 0rem;
}