.main{
    padding: 1rem;
    display: grid;
    row-gap: 2rem;
    padding-top: 7.375rem;
}

@media screen and (min-width: 1200px)  {
    .main{
        padding: 4rem 1.5rem;
        padding-top: 9.125rem;
        row-gap: 4rem;
        grid-template-areas: 
        "banner banner"
        "cards cards"
        "noticias departamento"
        ;
        grid-template-columns: 1fr auto;
        column-gap: 2rem;
    }
}