/* Pré-configurações */
@import url(header/header-hamburguer.css); 
@import url(header/header-imagem.css); 
@import url(header/header-link.css); 
@import url(header/header-lista.css); 
@import url(header/header-nav.css); 
@import url(header/header.css);
@import url(header/header-li.css);

:root{
    --azulClaro: #42B3E5;
    --azulEscuro: #2B4C99;
    --azul: #0079C7;
}
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}